---
layout: base
---

<section id="main">
	<header>
		<b>Last updated on {{ site.time | date: "%B %e, %Y" }}</b>
	</header>
	{% for post in paginator.posts %}
		<article>
			<h1 class="post_title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
			{{ post.content }}
		</article>
		<div id="disqus_thread"></div>
            <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'jamesma'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	{% endfor %}
	<footer>
		{% if paginator.previous_page %}
			<span>
				{% if paginator.previous_page == 1 %}
					<a class="page_button" href="/">Newer posts</a>
				{% else %}
					<a class="page_button" href="/page{{paginator.previous_page}}/">Newer posts</a>
				{% endif %}
			</span>
		{% endif %}
		{% if paginator.next_page %}
			<span class="older_button">
				<a class="page_button" href="/page{{paginator.next_page}}/">Older posts</a>
			</span>
		{% endif %}
	</footer>
</section>