body {
	font-family:			Arial, Helvetica, Geneva, sans-serif;
}

#left {
	background-color: 		#ffffff;
	width:					50%;
	height:					100%;
	float:					left;
	position:				absolute;
	left:					0px;
	top:					0px;
	padding-top:			110px;
}

#right {
	background-color:		#d0dede;
	width:					50%;
	min-height:				100%;
	float:					right;
	position:				absolute;
	left:					50%;
	top:					0px;
	padding-top:			80px;
	padding-bottom:			30px;
}

#about {
	width:					350px;
	right:					50%;
	float:					right;
	margin-right:			40px;
}

#portrait {
	-moz-box-shadow:		0 1px 10px #000000;
	-webkit-box-shadow:		0 1px 10px #000000;
	box-shadow:				0 1px 10px #000000;
	border:					3px solid #ffffff;
}

#keyContainer {
	width:					20%;
	float:					left;
	margin-top:				15px;
}

#valueContainer {
	width:					70%;
	float:					right;
	margin-top:				15px;
}

#key {
	font-weight:			bold;
	font-size:				13px;
	float:					right;
	color:					#6c6c6c;
}

#value {
	font-weight:			bold;
	font-size:				13px;
	float:					left;
}

#projectContainer {
	margin-left:			40px;
}

#project {
	-moz-box-shadow:		0 1px 10px #000000;
	-webkit-box-shadow:		0 1px 10px #000000;
	box-shadow:				0 1px 10px #000000;
	width:					350px;
	background-color:		#ffffff;
	margin-top:				30px;
}

#project img {
	float:					left;
}

#projectBody {
	font-size:				13px;
	margin-left:			100px;
	padding:				20px;
}

#projectYears {
	font-weight:			bold;
	font-size:				13px;
	margin-top:				7px;
}

a, a:link, a:visited, a:active {
	font-weight:			bold;
	text-decoration:		none;
	color:					#4682b4;
}

a:hover {
	text-decoration:		none;
	color:					#164c76;
}




