* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #4D4D4D;
	line-height: 25px;
	height: 100%;
}

a, a:visited, a:active {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #04BFBF;
	text-decoration: none;
}

p {
	font-size: 15px;
	line-height: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}

section#sidebar {
	position: fixed;
	width: 260px;
	top: 0;
	left: 0;
	bottom: 0;
	right: auto;
}

section#sidebar h1 {
	text-align: center;
	margin: 30px 40px;
	font-size: 30px;
}

section#sidebar h2 {
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 100;
}

nav {
	margin-left: 40px;
	margin-right: 40px;
}

nav ul {
	border-top: 1px solid #E2E2E2;
}

nav ul li {
	font-size: 20px;
	list-style-type: none;
	border-bottom: 1px solid #E2E2E2;
	padding: 8px 0;
}

.social_nav:hover {
	color: #fb4485;
}

section#main {
	margin-left: 260px;
	border-left: 1px solid #E2E2E2;
	min-width: 500px;
	min-height: 100%;
}

header {
	padding: 40px;
}

footer {
	border-top: 1px solid #E2E2E2;
	padding: 40px;
	padding-bottom: 80px;
}

footer a {
	margin-right: 40px;
}

article {
	padding: 40px;
	border-top: 1px solid #E2E2E2;
}

article * {
	max-width: 600px;
}

article a {
	border-bottom: 1px solid #CCC;
}

article .post_title {
	margin-top: 20px;
	color: black;
}

footer a.continue {
	padding: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	font-size: 17px;
	line-height: 17px;
	margin-bottom: 25px;
	display: inline-block;
	background-color: black;
}
