* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, Geneva, sans-serif;
}

section#sidebar {
	position: fixed;
	width: 258px;
	min-height: 700px;
	top: 0;
	left: 0;
	bottom: 0;
	right: auto;
}

section#sidebar h1 {
	padding-left: 40px;
}

nav {
	margin: 0 20px;
}

nav ul {
	border-top: 1px solid #E2E2E2;
}

nav ul li a, a:visited, a:hover, a:active {
	color: black;
	text-decoration: none;
}

section#sidebar li {
	list-style-type: none;
	border-bottom: 1px solid #E2E2E2;
	padding: 8px 0;
}

section#posts {
	margin-left: 260px;
	border-left: 1px solid #E2E2E2;
	min-width: 700px;
	min-height: 800px;
}

header {
	padding: 40px;
	padding-left: 50px;
}

footer {
	border-top: 1px solid #E2E2E2;
	padding: 40px 50px;
}

article {
	padding: 40px;
	padding-left: 50px;
	border-top: 1px solid #E2E2E2;
}