html {
	height: 100%;
}

body {
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #4D4D4D;
	line-height: 25px;
	height: 100%;
	margin: 0;
}

a, a:visited, a:active {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #04BFBF;
	text-decoration: none;
}

#user_name {
	color: #04BFBF;
}

section#sidebar {
	font-family: 'adelle', Helvetica, Arial, sans-serif;
	position: fixed;
	/*float: left;*/
	width: 260px;
	top: 0;
	left: 0;
	bottom: 0;
	right: auto;
}

section#sidebar h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 26px;
	font-weight: 800;
}

section#sidebar h2 {
	text-align: center;
	font-size: 18px;
	font-weight: 100;
	margin-left: 30px;
	margin-right: 30px;
}

#profile_pic {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	display: block;
	-moz-box-shadow: 0 1px 4px #000000;
	-webkit-box-shadow: 0 1px 4px #000000;
	box-shadow: 0 1px 4px #000000;
}

nav {
	margin-left: 40px;
	margin-right: 40px;
}

nav ul {
	border-top: 1px solid #E2E2E2;
	padding: 0;
}

nav ul li {
	font-size: 16px;
	list-style-type: none;
	border-bottom: 1px solid #E2E2E2;
	padding: 8px 0;
}

.social_nav:hover {
	color: #fb4485;
}

section#main {
	margin-left: 260px;
	border-left: 1px solid #E2E2E2;
	min-width: 500px;
	min-height: 100%;
}

header {
	padding: 50px;
	color: #000;
}

footer {
	border-top: 1px solid #E2E2E2;
	padding: 50px;
	padding-bottom: 80px;
}

footer a {
	margin-right: 50px;
}

article {
	padding: 50px;
	border-top: 1px solid #E2E2E2;
}

article * {
	max-width: 600px;
}

footer a.continue {
	padding: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	font-size: 17px;
	line-height: 17px;
	margin-bottom: 25px;
	display: inline-block;
	background-color: #000;
}

footer a.continue:hover {
	background-color: #04BFBF;
}

article, section, header, footer {
	overflow: hidden;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
	font-family: 'adelle', Helvetica, Arial, sans-serif;
	color: #3A3A3A;
	margin-top: 30px;
	margin-bottom: 30px;
}

article h1 {
	font-size: 30px;
	line-height: 25px;
}

article h2 {
	font-size: 18px;
	line-height: 25px;
}

article h3 {
	font-size: 16px;
	line-height: 25px;
}

article p {
	font-size: 15px;
	line-height: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}

article a {
	border-bottom: 1px solid #CCC;
}

article code {
	font-family: 'consolas', monospace;
	font-size: 14px;
	font-weight: 300;
	color: black;
	border: 1px solid #D2D2D2;
	background-color: #F8F8F8;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 1px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline;
}

article .post_title > a {
	border-bottom: none;
}

article blockquote {
	border-left: 10px solid #04BFBF;
	padding-left: 20px;
	display: inline-block;
	padding-bottom: 0;
	margin-left: 0;
	font-size: 15px;
	line-height: 25px;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #4D4D4D;
	max-width: 430px;
}

article img {
	margin-top: 20px;
	margin-bottom: 15px;
	margin-left: -50px;
}

article pre {
	margin-left: 15px;
}

article ul, article ol {
	margin-left: -5px;
}

article li {
	padding-left: 10px;
}

article hr {
	max-width: 600px;
	border: none;
	border-top: 3px solid #F4F3F3;
	margin: 0;
	padding: 0;
}

::-moz-selection, ::selection { 
	background: #04BFBF;
	color: #fff;
	text-shadow: none;
}

@media screen and (max-width:480px) {
	#profile_pic {
		position: relative;
		margin: 0 auto;
		left: auto;
		top: auto;
		margin-top: 20px;
	}

	.last_nav {
		border-bottom: none;
	}

	section#sidebar {
		position: relative;
		top: auto;
		left: auto;
		bottom: auto;
		right: auto;
		min-height: 0;
		display: block;
		width: auto;
		clear: both;
		height: auto;
		min-height: auto;
	}

	section#main {
		margin: 0;
		border: 0;
		min-width: 0;
		background-color: white;
		position: relative;
	}

	header {
		display: none;
	}

	article {
		padding: 20px;
		margin-bottom: 20px;
	}

	article code {
		width: 100%;
		display: block;
		height: auto;
		margin: 0;
		min-width: 0;
		max-width: 100%;
	}

	article h1, article h2, article h3 {
		border: none;
		line-height: 40px;
	}

	article p {
		line-height: 30px;
	}

	article img {
		width: 100%;
		display: block;
		height: auto;
		margin: 0;
		min-width: 0;
		max-width: 100%;
	}
}