<!DOCTYPE html>
<html>
    <head>
    	<title>
	    	{% if page.title %}
	    	{{page.title}} | James Ma
	    	{% else %}
	    	James Ma
	    	{% endif %}
	    </title>
	    <link type="text/css" rel="stylesheet" href="/assets/css/base.css" />
    </head>
    <body>
    	<aside>
    		<nav>
    			<ul>
    				<li><a href="/">Home</a></li>
    				<li><a href="/">About</a></li>
    				<li><a href="/">Resume</a></li>
    			</ul>
    		</nav>
    	</aside>

    	<section class="posts">
    		{{ content }}
    	</section>
    </body>
</html>