<!DOCTYPE html>
<html>
    <head>
    	<title>
	    	{% if page.title %}
	    		{{page.title}} | James Ma
	    	{% else %}
	    		James Ma
	    	{% endif %}
	    </title>
	    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
	    <link type="text/css" rel="stylesheet" href="/assets/css/base.css" />
    </head>
    <body>
    	<section id="sidebar">
    		<h1><a href="/">James Ma</a></h1>
    		<h2>Purdue CS Student. Mobile and Web enthusiast.</h2>
    		<nav>
    			<ul>
    				<li><a href="/">Home</a></li>
    				<li><a href="/about/">About</a></li>
    				<li><a href="/resume/jamesma_resume.pdf">Resume</a></li>
    				<li><a href="http://twitter.com/jamesmajunyan" class="social_nav" target="_blank">Twitter</a></li>
    				<li><a href="http://www.linkedin.com/in/junyanma" class="social_nav" target="_blank">Linkedin</a></li>
    				<li><a href="http://github.com/jamesma" class="social_nav" target="_blank">Github</a></li>
    			</ul>
    		</nav>
    	</section>
    	{{ content }}
    </body>
</html>